TOKEN = "xxx"           # Токен бота который отправит оповещение в приватный чат
CHAT_ID_BOT = "123"     # id чата куда приходит оповещение бота

CLIENT_NAME = 'xxx'     # название файла для кэша авторизации
ACC_ID = 123            # api_id аккаунта от которого идет запрос Алисе
ACC_HASH = 'xxx'        # api_hash аккаунта от которого идет запрос Алисе
